{%extends "home.html"%}
{%block "content"%}
{%load static%}

<section style="background-color: rgb(215, 219, 223); height: 20%;">
    <center><h3>About Us</h3></center></section>
    <div class="container-fluid">
        <div class="row">
    <div class="col-sm-6" style="align-items: center;">
        <img src="{% static 'images/makeupcosmetics1.jpg' %}" style="height: 400px;width: 400px;margin-top: 50px;margin-left: 100px;" alt="">
    </div>
    <div class="col-sm-6" style="align-items: center;"><p>
        <center><h4 style="color:#c77393 ;">Hello Everyone!!</h4></center>
        <center><h4 style="color:#0a0a0a ;">Welcome to Glam Beauty</h4></center>
        <br>
    Welcome to Glam Cosmetics, where beauty and sustainability meet. Our mission is to provide high-quality cosmetics that enhance your natural beauty while being kind to the planet.

Our website offerings authentic(original) cosmetics from various brands, from lipstick and foundation to eyeshadow and blush. We use only the highest-quality products.

At Glam Cosmetics, we believe in sustainability and social responsibility. 
We are committed to customer satisfaction, and want every customer to be happy with their purchase. If for any reason you're not satisfied with our products, please let us know and we'll do our best to make it right.

Thank you for choosing Glam Cosmetics. We look forward to helping you look and feel your best
</p>
<center><svg height="90" width="100">
    <text fill="#CD5888" font-size="45" font-family="Brush Script MT"
    x="20" y="56">Glam</text>
  Sorry, your browser does not support inline SVG.
  </svg></center>
<center><b> WE SIMPLIFY THE BEAUTY </b></center></div></div></div><br><br>
<section>
    <center><h4>Contact us </h4>
        <ul><b><address>Wagle Estate, 400604, Thane(w)</address></b></ul>
    <ul><b> Contact Us:</b> 9820169828</ul>
    <ul><b>Email us:</b> glambeauty@gmail.com</ul></center>
</section>
{%endblock%}